In [16]:
from utils.load_utils import load_obj

In [6]:
products_cat = load_obj('../data/products_table')
traffic_cat =  load_obj('../data/traffic_table')
purchased_cat= load_obj('../data/purchased_table')
filters_def_dict= load_obj('../data/filters_def_dict')
type_filters= load_obj('../data/type_filters')
question_text_df = load_obj('../data/question_text_df')
answer_text = load_obj('../data/answer_text')

In [8]:
answer_text.head()

      answer_id  question_id answer_text
0        5306.0        19219   Business
2      325949.0        19219     Privat
1539        0.0        15415         0.0
1593        1.0        15415         1.0
3986        0.0        15430         0.0

In [10]:
question_text_df.head()

  PropertyDefinition PropertyDefinitionId
0         3D Anzeige                 1475
1           4G (LTE)                10990
2       Akkuleistung                10552
3           Akku-Typ                  417
4    Android Version                  522

In [15]:
answer_df=answer_text.copy()
answer_df.loc[(answer_df["answer_id"] == 5306.0) & (answer_df["question_id"] == 19219), "answer_text"].values[0]

'Business '