In [6]:
from utils.load_utils import load_obj

In [67]:
products_cat = load_obj('../data/products_table')
traffic_cat =  load_obj('../data/traffic_table')
purchased_cat= load_obj('../data/purchased_table')
filters_def_dict= load_obj('../data/filters_def_dict')
type_filters= load_obj('../data/type_filters')
question_text_df = load_obj('../data/question_text_df')
answer_text = load_obj('../data/answer_text')

In [8]:
answer_text.head()

      answer_id  question_id answer_text
0        5306.0        19219   Business
2      325949.0        19219     Privat
1539        0.0        15415         0.0
1593        1.0        15415         1.0
3986        0.0        15430         0.0

In [10]:
question_text_df.head()

  PropertyDefinition PropertyDefinitionId
0         3D Anzeige                 1475
1           4G (LTE)                10990
2       Akkuleistung                10552
3           Akku-Typ                  417
4    Android Version                  522

In [15]:
answer_df=answer_text.copy()
answer_df.loc[(answer_df["answer_id"] == 5306.0) & (answer_df["question_id"] == 19219), "answer_text"].values[0]

'Business '

In [1]:
y = 9576135

In [2]:
a = [309695.]

In [3]:
q = 8745

In [14]:
products_cat.loc[(products_cat["ProductId"]==y) & (products_cat["PropertyDefinitionId"]==int(q)),]

Empty DataFrame
Columns: [ProductId, BrandId, ProductTypeId, PropertyValue, PropertyDefinitionId, PropertyDefinitionOptionId, answer]
Index: []

In [68]:
product_set = products_cat.copy()
q_keep = set(product_set.loc[product_set["PropertyDefinitionId"]==int(q), "ProductId"].drop_duplicates().values)

In [20]:
len(q_keep)

5630

In [21]:
len(products_cat["ProductId"].drop_duplicates().values)

7797

In [23]:
products_to_keep = product_set.loc[q_keep, "ProductId"].drop_duplicates().values

In [25]:
test = product_set.loc[product_set["ProductId"].isin(q_keep)==False,]

In [26]:
test.head()

,ProductId,BrandId,ProductTypeId,PropertyValue,PropertyDefinitionId,PropertyDefinitionOptionId,answer
0,6299632,314,6,5306.0,19219,NaN,5306.0
1,6300952,314,6,5306.0,19219,NaN,5306.0
2,6843624,314,6,325949.0,19219,NaN,325949.0
3,6973019,314,6,325949.0,19219,NaN,325949.0
4,9391967,331,6,325949.0,19219,NaN,325949.0

In [27]:
y =5312937

In [28]:
question = 11296

In [29]:
answer = ['none']

In [30]:
q_keep = set(product_set.loc[product_set["PropertyDefinitionId"]==int(question), "ProductId"].drop_duplicates().values)

In [31]:
len(q_keep)

5599

In [32]:
product_set = product_set.loc[product_set["ProductId"].isin(products_to_keep)==False,]

In [33]:
product_set

,ProductId,BrandId,ProductTypeId,PropertyValue,PropertyDefinitionId,PropertyDefinitionOptionId,answer
103,9574799,47,6,325949.0,19219,NaN,325949.0
107,9574815,47,6,325949.0,19219,NaN,325949.0
108,9574824,47,6,325949.0,19219,NaN,325949.0
109,9574833,47,6,325949.0,19219,NaN,325949.0
110,9574840,47,6,325949.0,19219,NaN,325949.0
139,9574801,47,6,325949.0,19219,NaN,325949.0
141,9574817,47,6,325949.0,19219,NaN,325949.0
142,9574835,47,6,325949.0,19219,NaN,325949.0
168,9574808,47,6,325949.0,19219,NaN,325949.0
169,9574810,47,6,325949.0,19219,NaN,325949.0
170,9574826,47,6,325949.0,19219,NaN,325949.0
171,9574842,47,6,325949.0,19219,NaN,325949.0
258,9574811,47,6,325949.0,19219,NaN,325949.0
259,9574812,47,6,325949.0,19219,NaN,325949.0
260,9574828,47,6,325949.0,19219,NaN,325949.0
658,9574798,47,6,325949.0,19219,NaN,325949.0
663,9574807,47,6,325949.0,19219,NaN,325949.0
664,9574816,47,6,325949.0,19219,NaN,325949.0
727,9574823,47,6,325949.0,19219,NaN,325949.0
728,9574832,47,6,325949.0,19219,NaN,325949.0
729,9574841,47,6,325949.0,19219,NaN,325949.0
746,9574941,47,6,5306.0,19219,NaN,5306.0
748,9574957,47,6,5306.0,19219,NaN,5306.0
750,9574975,47,6,5306.0,19219,NaN,5306.0
752,9574991,47,6,5306.0,19219,NaN,5306.0
822,9574803,47,6,325949.0,19219,NaN,325949.0
824,9574819,47,6,325949.0,19219,NaN,325949.0
825,9574820,47,6,325949.0,19219,NaN,325949.0
826,9574836,47,6,325949.0,19219,NaN,325949.0
827,9574837,47,6,325949.0,19219,NaN,325949.0
...,...,...,...,...,...,...,...
793117,9575475,47,6,0.0,15102,NaN,0.0
793118,9575484,47,6,0.0,15102,NaN,0.0
793119,9575493,47,6,0.0,15102,NaN,0.0
793174,9575389,47,6,0.0,15102,NaN,0.0
793175,9575391,47,6,0.0,15102,NaN,0.0
793176,9575407,47,6,0.0,15102,NaN,0.0
793177,9575423,47,6,0.0,15102,NaN,0.0
793178,9575439,47,6,0.0,15102,NaN,0.0
793179,9575441,47,6,0.0,15102,NaN,0.0
793180,9575457,47,6,0.0,15102,NaN,0.0
793181,9575473,47,6,0.0,15102,NaN,0.0
793182,9575404,47,6,0.0,15102,NaN,0.0
793183,9575405,47,6,0.0,15102,NaN,0.0
793184,9575421,47,6,0.0,15102,NaN,0.0
793185,9575422,47,6,0.0,15102,NaN,0.0
793186,9575438,47,6,0.0,15102,NaN,0.0
793187,9575454,47,6,0.0,15102,NaN,0.0
793188,9575455,47,6,0.0,15102,NaN,0.0
793189,9575471,47,6,0.0,15102,NaN,0.0
793190,9575472,47,6,0.0,15102,NaN,0.0
793191,9575488,47,6,0.0,15102,NaN,0.0
793192,9575489,47,6,0.0,15102,NaN,0.0
793193,9575406,47,6,0.0,15102,NaN,0.0
793194,9575424,47,6,0.0,15102,NaN,0.0
793195,9575440,47,6,0.0,15102,NaN,0.0
793196,9575456,47,6,0.0,15102,NaN,0.0
793197,9575458,47,6,0.0,15102,NaN,0.0
793198,9575474,47,6,0.0,15102,NaN,0.0
793199,9575490,47,6,0.0,15102,NaN,0.0
793206,9575491,47,6,0.0,15102,NaN,0.0

In [41]:
def question_id_to_text(question, question_df):
    #try:
    question_text = question_df.loc[question_df["PropertyDefinitionId"] == str(question),"PropertyDefinition"].values
    #except:
     #   question_text = 'No text equivalent for question'
    return question_text

In [42]:
question_id_to_text(question, question_text_df)

array(['Datenträgertyp'], dtype=object)

In [40]:
question_text_df.loc[question_text_df["PropertyDefinitionId"]==str(417)]

  PropertyDefinition PropertyDefinitionId
3           Akku-Typ                  417

In [43]:
y = 403938

In [46]:
q1 = 347.0
a1 = [6218.0]

In [47]:
a2 = 6.0

In [63]:
q2 = 25

In [55]:
import numpy as np 
def select_subset(product_set, traffic_set = [], question = None, answer = None, purchased_set = []):
    """
    function assumes you have already build the answer column
    """
    if np.array_equal(["idk"], answer): # case i don't know the answer return everything
        return(product_set, traffic_set, [])
    else:
        q_keep = set(product_set.loc[product_set["PropertyDefinitionId"]==int(question), "ProductId"].drop_duplicates().values) # had to remove this drop_duplicates() because it changed the index !!!!!!!
        if np.array_equal(["none"], answer):
            products_to_keep = q_keep
            #print('the len of the discard is {}'.format(len(q_keep)))
        else:
            a_keep = set()
            for a in answer:
                a_keep = a_keep.union(set(product_set.loc[product_set["answer"].astype(str)==str(a), "ProductId"].drop_duplicates().values))
            products_to_keep = a_keep.intersection(q_keep)
        if np.array_equal(["none"], answer):
            #print("am here")
            #print('product set len {} and product keep {}'.format(len(get_distinct_products(product_set)), len(products_to_keep)))
            product_set = product_set.loc[product_set["ProductId"].isin(products_to_keep)==False,]
            if len(traffic_set) != 0:
                traffic_set = traffic_set.loc[traffic_set["Items_ProductId"].isin(products_to_keep)==False,]
            if len(purchased_set) != 0:
                purchased_set = purchased_set.loc[purchased_set["Items_ProductId"].isin(products_to_keep)==False,]
        else:
            product_set = product_set.loc[product_set["ProductId"].isin(products_to_keep),]
            if len(traffic_set) != 0:
                traffic_set = traffic_set.loc[traffic_set["Items_ProductId"].isin(products_to_keep),]
            if len(purchased_set) != 0:
                purchased_set = purchased_set.loc[purchased_set["Items_ProductId"].isin(products_to_keep),]
        return(product_set, traffic_set, purchased_set)

In [69]:
product_set, traffic_set, purchased_set = select_subset(question=q1, answer=a1,
                                                            product_set=product_set, traffic_set =[],
                                                            purchased_set = [])

/Applications/miniconda3/lib/python3.6/site-packages/numpy/core/numeric.py:2397: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())

In [61]:
product_set.sort_values(by="ProductId")

,ProductId,BrandId,ProductTypeId,PropertyValue,PropertyDefinitionId,PropertyDefinitionOptionId,answer
127575,373790,1,6,NaN,13,287.0,2.870000e+02
357941,373790,1,6,1.000000e+00,97,NaN,1.000000e+00
370155,373790,1,6,1.000000e+00,137,NaN,1.000000e+00
376784,373790,1,6,2.870000e+02,13,NaN,2.870000e+02
377322,373790,1,6,1.000000e+00,96,NaN,1.000000e+00
408157,373790,1,6,0.000000e+00,725,NaN,0.000000e+00
425916,373790,1,6,2.300000e+03,4,NaN,2.220000e+03
434900,373790,1,6,2.660000e-01,8,NaN,2.180000e-01
442559,373790,1,6,2.100000e-02,7,NaN,2.150000e-05
343404,373790,1,6,4.000000e+09,11280,NaN,3.600000e+09
455255,373790,1,6,3.800000e-01,6,NaN,3.672000e-01
479858,373790,1,6,1.130000e+03,746,NaN,1.130000e+03
559049,373790,1,6,6.218000e+03,347,NaN,6.218000e+03
586171,373790,1,6,8.155000e+03,9668,NaN,8.155000e+03
611258,373790,1,6,6.593000e+03,8246,NaN,6.593000e+03
611259,373790,1,6,6.594000e+03,8246,NaN,6.594000e+03
611260,373790,1,6,6.596000e+03,8246,NaN,6.596000e+03
645624,373790,1,6,1.000000e+00,56,NaN,1.000000e+00
653714,373790,1,6,1.000000e+00,3011,NaN,1.000000e+00
472549,373790,1,6,1.000000e+00,112,NaN,1.000000e+00
329012,373790,1,6,3.962400e-01,1,NaN,3.820160e-01
736126,373790,1,6,8.000000e+09,11282,NaN,8.000000e+09
307595,373790,1,6,1.700000e+09,25,NaN,1.581000e+09
127581,373790,1,6,NaN,9668,8155.0,8.155000e+03
127580,373790,1,6,NaN,746,1130.0,1.130000e+03
127576,373790,1,6,NaN,8246,6593.0,6.593000e+03
127579,373790,1,6,NaN,347,6218.0,6.218000e+03
127578,373790,1,6,NaN,8246,6596.0,6.596000e+03
127577,373790,1,6,NaN,8246,6594.0,6.594000e+03
480661,458120,5,6,1.130000e+03,746,NaN,1.130000e+03
...,...,...,...,...,...,...,...
585839,458120,5,6,2.560000e+11,460,NaN,2.560000e+11
647265,458122,5,6,0.000000e+00,56,NaN,0.000000e+00
612382,458122,5,6,6.596000e+03,8246,NaN,6.596000e+03
650963,458122,5,6,1.000000e+00,3011,NaN,1.000000e+00
612381,458122,5,6,6.594000e+03,8246,NaN,6.594000e+03
672647,458122,5,6,1.000000e+00,3039,NaN,1.000000e+00
612380,458122,5,6,6.593000e+03,8246,NaN,6.593000e+03
585840,458122,5,6,2.560000e+11,460,NaN,2.560000e+11
307634,458122,5,6,1.500000e+09,25,NaN,1.358000e+09
533077,458122,5,6,1.000000e+00,3014,NaN,1.000000e+00
329142,458122,5,6,2.946400e-01,1,NaN,2.773680e-01
133934,458122,5,6,NaN,746,1130.0,1.130000e+03
343462,458122,5,6,8.000000e+09,11280,NaN,5.800000e+09
133933,458122,5,6,NaN,9264,7650.0,7.650000e+03
359567,458122,5,6,3.940000e+02,16,NaN,3.940000e+02
133932,458122,5,6,NaN,8246,6593.0,6.593000e+03
133931,458122,5,6,NaN,16,394.0,3.940000e+02
133930,458122,5,6,NaN,347,6218.0,6.218000e+03
557441,458122,5,6,6.218000e+03,347,NaN,6.218000e+03
133929,458122,5,6,NaN,8246,6596.0,6.596000e+03
133928,458122,5,6,NaN,8246,6594.0,6.594000e+03
426116,458122,5,6,1.400000e+03,4,NaN,1.375000e+03
688793,458122,5,6,1.000000e+00,10604,NaN,1.000000e+00
444472,458122,5,6,1.700000e-02,7,NaN,2.150000e-05
455342,458122,5,6,2.980000e-01,6,NaN,2.788000e-01
474306,458122,5,6,1.000000e+00,112,NaN,1.000000e+00
480662,458122,5,6,1.130000e+03,746,NaN,1.130000e+03
527363,458122,5,6,7.650000e+03,9264,NaN,7.650000e+03
410100,458122,5,6,0.000000e+00,725,NaN,0.000000e+00
434948,458122,5,6,2.040000e-01,8,NaN,4.770000e-02

In [65]:
product_set, traffic_set, purchased_set = select_subset(question=q2, answer=[a2],
                                                            product_set=product_set, traffic_set =[],
                                                            purchased_set = [])

/Applications/miniconda3/lib/python3.6/site-packages/numpy/core/numeric.py:2397: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())

In [66]:
product_set

Empty DataFrame
Columns: [ProductId, BrandId, ProductTypeId, PropertyValue, PropertyDefinitionId, PropertyDefinitionOptionId, answer]
Index: []

In [72]:
product_set.loc[(product_set["PropertyDefinitionId"]==q2) & (product_set["answer"]==a2)]

,ProductId,BrandId,ProductTypeId,PropertyValue,PropertyDefinitionId,PropertyDefinitionOptionId,answer
714123,410284,510,6,6.0,5543,NaN,6.0
714140,434252,5,6,6.0,5543,NaN,6.0
714141,434820,5,6,6.0,5543,NaN,6.0
714293,634554,19,6,6.0,5543,NaN,6.0
714295,373756,1,6,6.0,5543,NaN,6.0
714452,433921,510,6,6.0,5543,NaN,6.0
714453,448827,510,6,6.0,5543,NaN,6.0
714455,434357,1,6,6.0,5543,NaN,6.0
714459,634168,19,6,6.0,5543,NaN,6.0
714518,449061,457,6,6.0,5543,NaN,6.0
714522,434237,5,6,6.0,5543,NaN,6.0
714523,434253,5,6,6.0,5543,NaN,6.0
714527,450665,5,6,6.0,5543,NaN,6.0
714528,454562,5,6,6.0,5543,NaN,6.0
714532,449379,8,6,6.0,5543,NaN,6.0
714696,722641,191,6,6.0,5543,NaN,6.0
714767,409370,510,6,6.0,5543,NaN,6.0
714768,409371,19,6,6.0,5543,NaN,6.0
714859,375031,5,6,6.0,5543,NaN,6.0
714862,375288,8,6,6.0,5543,NaN,6.0
714864,375299,8,6,6.0,5543,NaN,6.0
714866,457957,5,6,6.0,5543,NaN,6.0
714867,458059,5288,6,6.0,5543,NaN,6.0
714870,412608,8,6,6.0,5543,NaN,6.0
715201,722643,191,6,6.0,5543,NaN,6.0
715202,722644,191,6,6.0,5543,NaN,6.0
715204,763006,5,6,6.0,5543,NaN,6.0
715746,375123,5,6,6.0,5543,NaN,6.0
715748,375289,8,6,6.0,5543,NaN,6.0
715753,457088,8,6,6.0,5543,NaN,6.0
...,...,...,...,...,...,...,...
717049,433993,510,6,6.0,5543,NaN,6.0
717149,763005,5,6,6.0,5543,NaN,6.0
717221,401196,8,6,6.0,5543,NaN,6.0
717222,751994,5,6,6.0,5543,NaN,6.0
717804,635279,510,6,6.0,5543,NaN,6.0
717829,433878,19,6,6.0,5543,NaN,6.0
717833,714113,19,6,6.0,5543,NaN,6.0
717886,400185,5,6,6.0,5543,NaN,6.0
717889,449320,5,6,6.0,5543,NaN,6.0
717890,401187,8,6,6.0,5543,NaN,6.0
717900,635012,19,6,6.0,5543,NaN,6.0
717984,439847,8,6,6.0,5543,NaN,6.0
718068,630167,1,6,6.0,5543,NaN,6.0
718069,630168,1,6,6.0,5543,NaN,6.0
718094,362565,19,6,6.0,5543,NaN,6.0
718121,2356993,1150,6,6.0,5543,NaN,6.0
718250,329326,5,6,6.0,5543,NaN,6.0
718251,363419,5,6,6.0,5543,NaN,6.0
718252,372961,5,6,6.0,5543,NaN,6.0
718256,449319,5,6,6.0,5543,NaN,6.0
718259,375284,8,6,6.0,5543,NaN,6.0
718261,375301,8,6,6.0,5543,NaN,6.0
718262,375303,8,6,6.0,5543,NaN,6.0
718266,457960,5,6,6.0,5543,NaN,6.0
718267,458060,5288,6,6.0,5543,NaN,6.0
718282,2482160,5,6,6.0,5543,NaN,6.0
718284,2482175,5,6,6.0,5543,NaN,6.0
718293,2753353,5,6,6.0,5543,NaN,6.0
718630,450309,5288,6,6.0,5543,NaN,6.0
718634,722738,191,6,6.0,5543,NaN,6.0

In [75]:
products_cat.loc[(product_set["PropertyDefinitionId"]==q2) &(products_cat["answer"]==a2)]

Empty DataFrame
Columns: [ProductId, BrandId, ProductTypeId, PropertyValue, PropertyDefinitionId, PropertyDefinitionOptionId, answer]
Index: []

In [77]:
products_cat.loc[products_cat["PropertyDefinitionId"]==int(q2), "answer"] \
                                    .drop_duplicates().values.astype(float)

array([1.5810e+09, 1.7400e+09, 1.9500e+09, 2.3900e+09, 2.6600e+09,
       1.3580e+09, 2.1612e+09, 9.7000e+08, 2.0000e+00, 3.1600e+09])